/* FONT REGULAR */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* FONT BOLD */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcjvw3iLehEZ8Hqbhfrhp4xo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* FONT REGULAR */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* EFFET PULSE ICONES */
@-webkit-keyframes pulse 
  {       
    0% {-webkit-transform: scale(0); opacity: 0;}
    8% {-webkit-transform: scale(0); opacity: 0;}
    15% {-webkit-transform: scale(0.7); opacity: 0.2;}
    30% {-webkit-transform: scale(0.8); opacity: 0.5;}
    100% {opacity: 0; -webkit-transform: scale(1);}
  }

  @-moz-keyframes pulse 
  {       
    0% {-moz-transform: scale(0); opacity: 0;}
    8% {-moz-transform: scale(0); opacity: 0;}
    15% {-moz-transform: scale(0.7); opacity: 0.2;}
    30% {-moz-transform: scale(0.8); opacity: 0.5;}
    100% {opacity: 0; -moz-transform: scale(1);}
  }


/* GENERAL */
body{
    height: 6000px;
    margin: 0;
    padding: 0;

}
            
body > section{
    height:100%;
}

/* STYLE TITRES */
h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
    display: inline;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
        display: inline;
}
h3{
    font-family: 'Clicker Script', sans-serif;

    font-size: 40px;
    font-weight: 0;
    display: inline;

}

/* INFO SCROLLR */
#info{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    z-index: 9999;
}

/* DIV TARGET */
#intro, #profil {
  text-align: center;
}

/* Z INDEX */
#introHello {
  z-index: 9999;
}
#intro{
    z-index:1;
}
#profil{
    z-index:2;
    position:absolute;
}

/* SLIDE 1 : INTRO */
#introPhoto {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    width: 100%;
    background: url("../img/01.jpg") no-repeat center fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
    position:fixed;
}

#scroll,#hello{
    display:none;
}
#introHello{
    top: 40%;
    position: fixed;
    left: 0;
    right: 0;
}
#introScroll {
    position: fixed;
    top:80%;
    left: 0;
    right: 0;
}



/* SLIDE 2 : REGARDE EN BAS */
#regardeEnBasPhoto {
    background: url("../img/02.jpg") no-repeat center fixed; 
}
#regardeEnBasPhoto2 {
    background: url("../img/03.jpg") no-repeat center fixed; 
}





#profilFond {
    
}

/* BASE PHOTOS BACKGROUND */ 
#regardeEnBasPhoto, #regardeEnBasPhoto2 {
    top:0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
    position:fixed;
}


/* SLIDE 3 : DUNKERQUE */
#dunkerqueBarre{
    height: 300px;
    width: 100%;
background: url("../img/dunkerque.jpg") no-repeat center fixed; 
     -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
    position:fixed;
    bottom:0;
    z-index:2;
}

/* SLIDE 3 : PROFIL */
#profilBarre{
    height: 200px;
    width: 100%;
background-color:#fff;
    text-align: center;
    position:fixed;
    z-index:3;
    top:0;
}

#profilBarre ul{
    padding-top:60px;
}
#profilBarre ul li {
    display: inline-block;
    cursor: pointer;
	margin: 20px 20px;
 
}
#profilBarre ul li .fa{ color: black; }

#profilBarre ul li .fa:hover {
color: black;
}

#fondProfil{
    height: 100%;
    width: 100%;
background: url("../img/devoile.jpg") no-repeat center fixed; 
     -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
    position:fixed;
    bottom:0;
    z-index:2;
}

#textesProfil{
    top: 30%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}
#textesProfil #maman,#textesProfil #anniversaire,#textesProfil #permis,#textesProfil #nord,#textesProfil #decines{
display: none;
}
  
 #profilBarre ul li #pulse
  {
    margin: -75px auto;
    border-radius: 100px;
    z-index: 10;
    background-color: transparent;
    opacity: 0.1;
    width: 110px;
    height: 110px;
    border: 2px solid black;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite; 
  }

 #profilBarre ul li #pulse:hover{  
    -webkit-animation-play-state: paused; 
    animation-play-state: paused;
 }
