/* FONT REGULAR */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* FONT BOLD */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcjvw3iLehEZ8Hqbhfrhp4xo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* FONT REGULAR */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* GENERAL */
body{
    height: 6000px;
    margin: 0;
    padding: 0;

}
            
body > section{
    height:100%;
}

/* STYLE TITRES */
h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 85px;
    font-weight: 700;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

/* INFO SCROLLR */
#info{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    z-index: 9999;
}

/* DIV TARGET */
#intro, #profil {
  text-align: center;
}

/* Z INDEX */
#introHello {
  z-index: 9999;
}
#intro{
    z-index:1;
}
#profil{
    z-index:2;
}

/* SLIDE 1 : INTRO */
#introPhoto {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 100%;
    width: 100%;
    background: url("../img/01.jpg") no-repeat center fixed; 
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
    position:fixed;
}

#scroll,#hello{
    display:none;
}
#introHello{
    top: 40%;
    position: fixed;
    left: 0;
    right: 0;
}
#introScroll {
    position: fixed;
    top:80%;
    left: 0;
    right: 0;
}



/* SLIDE 2 : REGARDE EN BAS */
#regardeEnBasPhoto {
    background: url("../img/02.jpg") no-repeat center fixed; 
}
#regardeEnBasPhoto2 {
    background: url("../img/03.jpg") no-repeat center fixed; 
}
#profilPhoto {
    background: url("../img/04.jpg") no-repeat center fixed; 
}
#profilPhoto2 {
    background: url("../img/05.jpg") no-repeat center fixed; 
}
#profilPhoto3 {
    background: url("../img/06.jpg") no-repeat center fixed; 
}
#profilPhoto4 {
    background: url("../img/07.jpg") no-repeat center fixed; 
}






/* BASE PHOTOS BACKGROUND */ 
#regardeEnBasPhoto, #regardeEnBasPhoto2, #profilPhoto, #profilPhoto2, #profilPhoto3, #profilPhoto4 {
    top:0;
    height: 100%;
    width: 100%;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    text-align: center;
    position:fixed;
}


/* SLIDE 3 : PROFIL */
#profilNom{
    top:20%;
}
#feuille{
    position: fixed;
    left: 50%;
    right: 50%;
    top:20%;
    width: 500px;
    margin-left: -350px;
}